[submodule "cudos-node"]
	path = deps/cudos-node
	url = https://github.com/CudoVentures/cudos-node.git

[submodule "axelar-core"]
	path = deps/axelar-core
	url = https://github.com/notional-labs/axelar-core.git
	branch = 0.34.1-cudos-demo
